html {
  height: 100vh;
  max-height: 100vh;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-darkshadow-color: #646464;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #646464;
}

::-webkit-scrollbar-track-piece {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #646464;
}

::-webkit-resizer {
  background-color: #666;
}

body {
  background-color: #302f2f;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.applyFont {
  font-family: "Inconsolata", monospace;
}

.green {
  color: #86c232;
}

.red {
  color: #c96567;
}

.outerContainer {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}

.sideBar {
  width: 20%;
  height: 100%;
  max-height: 100vh;
  display: inline-block;
  position: absolute;
  background-color: #272727;
}

@media screen and (orientation: portrait) {
  .sideBar {
    display: none;
  }
}

.musicList {
  height: 79vh;
  width: 80%;
  overflow: scroll;
  float: right;
  background-color: #302f2f;
  overflow-x: hidden;
  position: relative;
}

@media screen and (orientation: portrait) {
  .musicList {
    width: 100vw;
    height: 72vh;
  }
}

.navHeight {
  height: 14vh;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .navHeight {
    height: 18vh;
  }
}

.navCenter {
  display: inline-block;
  text-align: center;
  width: 100%;
  letter-spacing: 2vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (orientation: portrait) {
  .navCenter {
    letter-spacing: 10vw;
  }
}

.hoverScalePoint1 {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.hoverScalePoint1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
  -webkit-filter: invert(37%) sepia(84%) saturate(3914%) hue-rotate(344deg) brightness(101%) contrast(91%);
          filter: invert(37%) sepia(84%) saturate(3914%) hue-rotate(344deg) brightness(101%) contrast(91%);
}

@media (hover: none) {
  .hoverScalePoint1:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-transition: none;
    transition: none;
  }
}

.navRadius {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.linkMobile {
  display: none;
}

@media screen and (orientation: portrait) {
  .linkMobile {
    display: block;
  }
}

.navbarMaxH {
  max-height: 100vh;
  overflow-y: scroll;
}

.filler {
  visibility: hidden;
}

.musicInfo {
  color: white;
  letter-spacing: 0;
  margin-bottom: 1vh;
  font-family: "Inconsolata", monospace;
  font-size: 1.5vmax;
}

.titleAndDurationCls {
  margin-left: 10vw;
  margin-right: 10vw;
}

.currentTime {
  letter-spacing: 0;
  color: white;
  text-align: left;
  float: left;
}

.duration {
  letter-spacing: 0;
  color: white;
  float: right;
  text-align: right;
}

.topRightCornerBtn {
  border-radius: 30px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  font-size: 1.7vh;
}

.topRightCornerBtn:hover {
  color: black;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#settingsButton {
  margin-right: 1em;
}

@media screen and (orientation: portrait) {
  .topRightCornerBtn {
    display: none !important;
  }
}

.songCover {
  position: absolute;
  left: 0;
  width: 5vmax;
  border: 1px solid;
  height: 5vmax;
  margin-left: 2vw;
}

.songCoverImgCls {
  width: 100%;
  height: 100%;
}

@media screen and (orientation: portrait) {
  .songCover {
    display: none !important;
  }
  .songCoverImgCls {
    display: none !important;
  }
}

.coverSmall {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  border: 1px solid;
}

.dummyClass {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  height: 100%;
}

.dummyClass:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slider {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.5px 0;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0px solid #010101;
}

input[type='range']::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 25px;
  width: 20px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}

#slideSeek:hover input[type='range']::-webkit-slider-thumb {
  background: #367ebd;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0px solid #010101;
  display: none;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 25px;
  width: 14px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  display: none;
}

input[type='range']::-ms-fill-lower {
  background: #2a6495;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  display: none;
}

input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 25px;
  width: 14px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  height: 0px;
}

input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
  display: none;
}

input[type='range']:focus::-ms-fill-upper {
  background: #367ebd;
  display: none;
}

#progressBar {
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  background-color: #2a6495;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#progress {
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

#progress:hover {
  background-color: #c96567;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.list-group-item-dark {
  background-color: #777777 !important;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.list-group-item-dark:hover {
  background-color: #999999 !important;
  color: black;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.volumeBlock {
  display: block;
  width: 5vw;
  height: 7px;
  background-color: #c6c8ca;
  position: absolute;
  right: 0;
  margin-right: 2.5vw;
  margin-top: 0.5vh;
  overflow: hidden;
  border-radius: 0.25rem;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
  cursor: pointer;
}

.volumeBlock:hover {
  background-color: #c96567;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

@media screen and (orientation: portrait) {
  .volumeBlock {
    display: none;
  }
}

.rangeVolume {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.navLeftConf {
  display: block;
  padding: 0;
  width: 100%;
}

.navLeftItemConf {
  margin-left: 1.5vw;
}

.nav-item {
  background-color: #272727;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.nav-item:hover {
  background-color: #c6c8ca;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

@media screen and (orientation: portrait) {
  .nav-item {
    background-color: #222629;
  }
}

#mainMenu {
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#mainMenu:hover {
  color: black;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#likedSongs {
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#likedSongs:hover {
  color: black;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#myPlaylist {
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#myPlaylist:hover {
  color: black;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#navbarTop {
  background-color: #222629;
  overflow: hidden !important;
  min-height: 7vh;
}

@media screen and (orientation: portrait) {
  #navbarTop {
    min-height: 10vh;
    position: relative;
    z-index: 9999;
  }
}

#navBottom {
  background-color: #444444 !important;
}

#collapsibleNavbar {
  position: relative;
  z-index: 999;
}

#volumeProgress {
  height: 100%;
  width: 100%;
  background-color: #86c232;
  pointer-events: none;
}

#loader {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

.loader-cover {
  width: 40px !important;
  height: 40px !important;
  margin-left: -20px !important;
  margin-top: -20px !important;
}

.list-group-item:first-child {
  border-radius: 0 !important;
}

.list-group-item:last-child {
  border-radius: 0 !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  line-height: 45px;
  text-align: center;
  padding: 0 !important;
  border-radius: 50% !important;
}
/*# sourceMappingURL=style.css.map */