html {
  height: 100vh;
  max-height: 100vh;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-darkshadow-color: #646464;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #646464;
}

::-webkit-scrollbar-track-piece {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #646464;
}

::-webkit-resizer {
  background-color: #666;
}

body {
  background-color: #212121;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.applyFont {
  font-family: "Inconsolata", monospace;
}

.green {
  color: #4caf50;
}

.red {
  color: #f44336;
}

.outerContainer {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}

.sideBar {
  width: 20%;
  height: 100%;
  max-height: 100vh;
  display: inline-block;
  position: absolute;
  background-color: #212121;
}

@media screen and (orientation: portrait) {
  .sideBar {
    visibility: hidden;
  }
}

.musicList {
  height: 100%;
  width: 80%;
  overflow: scroll;
  float: right;
  background-color: #424242;
}

@media screen and (orientation: portrait) {
  .musicList {
    width: 100vw;
  }
}

.navHeight {
  height: 12vh;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .navHeight {
    height: 18vh;
  }
}

.navCenter {
  display: inline-block;
  text-align: center;
  width: 100%;
  letter-spacing: 2vw;
}

@media screen and (orientation: portrait) {
  .navCenter {
    letter-spacing: 10vw;
  }
}

.hoverScalePoint1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
  -webkit-filter: invert(37%) sepia(84%) saturate(3914%) hue-rotate(344deg) brightness(101%) contrast(91%);
          filter: invert(37%) sepia(84%) saturate(3914%) hue-rotate(344deg) brightness(101%) contrast(91%);
}

.navRadius {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.linkMobile {
  display: none;
}

@media screen and (orientation: portrait) {
  .linkMobile {
    display: block;
  }
}

.navbarMaxH {
  max-height: 100vh;
  overflow-y: scroll;
}

.filler {
  visibility: hidden;
}

.musicInfo {
  color: white;
  letter-spacing: 0;
  margin-bottom: 1vh;
  font-family: "Inconsolata", monospace;
  font-size: 1.5vmax;
}

.titleAndDurationCls {
  margin-left: 10vw;
  margin-right: 10vw;
}

.currentTime {
  letter-spacing: 0;
  color: white;
  text-align: left;
  float: left;
}

.duration {
  letter-spacing: 0;
  color: white;
  float: right;
  text-align: right;
}

.signOut {
  position: absolute;
  right: 0;
  margin-right: 1vw;
  cursor: pointer;
}

.songCover {
  position: absolute;
  left: 0;
  width: 5vmax;
  border: 1px solid;
  height: 5vmax;
  margin-left: 2vw;
}

.songCoverImgCls {
  width: 100%;
  height: 100%;
}

@media screen and (orientation: portrait) {
  .songCover {
    display: none;
  }
  .songCoverImgCls {
    display: none;
  }
}

.coverSmall {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
}

.dummyClass {
  cursor: pointer;
}

.dummyClass :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */