.nowplaying {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  background: #282828;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0;
  }
}
