$color-active: #fff;
$color-inactive: #b3b3b3;

.pill-menu {
  display: flex;
  min-width: 32px;
  height: 32px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  color: $color-active;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.015em;
  line-height: 20px;
  &:hover {
    background-color: #282828;
  }
}

.pill-menu-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.pill-menu-text {
  overflow: hidden;
  max-width: 110px;
  margin-right: 8px;
  margin-left: 8px;
  font-weight: 700;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pill-menu-drop-down-icon {
  width: 10px;
  height: 5px;
  margin-right: 8px;
}

.pill-menu-list {
  margin-top: 40px;
}

.pill-menu-list-text {
  margin-right: 8px;
  margin-left: 8px;
  color: $color-inactive;
  font-family: 'Segoe UI';
  font-size: 14px;
}

// Overrule Material-UI List Paddings
.MuiList-padding {
  /* stylelint-disable-next-line declaration-no-important */
  padding-top: 0 !important;
  /* stylelint-disable-next-line declaration-no-important */
  padding-bottom: 0 !important;
}
