/* stylelint-disable declaration-no-important */
/* stylelint-disable declaration-property-value-blacklist */

@import '../../styles/color-palette';

.nowplaying-center-container {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background: $color-black-4;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.controls-and-other {
  display: flex;
  overflow: hidden;
  height: 4em;
  flex-direction: row;
  align-items: center;

  @media (max-width: 768px) {
    height: 0;
    transition: height 100ms ease-in;
  }
}

.controls-and-other-show {
  @media (max-width: 768px) {
    height: 4em;
  }
}

.cover-container {
  height: 100%;
  background-color: $color-white-1;

  .cover {
    height: 100%;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.controls {
  display: flex;
  height: 32px;
  gap: 16px;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  color: $color-white-1;

  @media (max-width: 768px) {
    padding: 0 1em;
  }
}

.control-active {
  color: $color-spotify-green;
}

.control-item {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: $color-white-1;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 200ms linear;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.control-play {
  display: flex;
}

.progress {
  display: flex;
  height: 16px;
  flex-direction: row;

  @media (max-width: 768px) {
    display: none;
    height: 0;
  }
}

.progress-show {
  @media (max-width: 768px) {
    display: flex;
  }
}

.mobile {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  font-weight: 600;

  .current-song {
    display: flex;
    gap: 4px;
    flex-direction: row;

    .artist {
      color: $color-gray-3;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-play-pause {
  @media (min-width: 768px) {
    display: none;
  }
}

.desktop-play-pause {
  @media (max-width: 768px) {
    display: none;
  }
}

.progress-with-number {
  display: flex;
  width: 40px;
  height: 16px;
  align-self: center;
  justify-content: center;
  color: $color-gray-3;
  font-size: 12px;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 16px;

  @media (max-width: 768px) {
    display: none;
  }
}

.small-button {
  width: 16.22px;
  height: 16.22px;
}

.big-button {
  width: 32px;
  height: 32px;
}

.MuiSlider-rail {
  height: 4px !important;
  border-radius: 2px !important;
}

.MuiSlider-root {
  width: initial !important;
  height: 4px !important;
  padding: 0 !important;
  color: $color-gray-2 !important;
}

.MuiSlider-track {
  height: 4px !important;
  border-radius: 2px !important;
}
