/* stylelint-disable declaration-no-important */
/* stylelint-disable declaration-property-value-blacklist */

$color-white-active: #fff;
$color-white-inactive: #b3b3b3;
$color-gray: #535353;
$color-green: #1db954;

.nowplaying-center-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background: #282828;
  
  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
}

.controls-and-other {
  display: flex;
  flex-direction: row;
  height: 4em;
  align-items: center;
}

.cover-container {
  height: 100%;
  background-color: $color-white-active;

  .cover {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.controls {
  display: flex;
  height: 32px;
  gap: 16px;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  color: $color-white-active;

  @media (max-width:768px) {
    padding: 0 1em;
  }
}

.control-active {
  color: $color-green;
}

.control-item {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: $color-white-active;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 200ms linear;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.control-play {
  display: flex;
}

.progress {
  display: flex;
  height: 16px;
  flex-direction: row;

  @media (max-width:768px) {
    height: 0px;
  }  
}

.mobile {
  font-size: small;
  display: flex;
  align-items: center;
  font-weight: 600;
  flex: 1;
  justify-content: space-between;
  
  .current-song {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .artist {
      color: $color-white-inactive;
    }
  }

  .like-button {
    height: 18px;
    width: 18px;
  }



  @media (min-width: 768px) {
    display: none;
  }
}

.progress-with-number {
  display: flex;
  width: 40px;
  height: 16px;
  align-self: center;
  justify-content: center;
  color: $color-white-inactive;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 16px;

  @media (max-width: 768px) {
    display: none;
  }
}

.small-button {
  width: 16.22px;
  height: 16.22px;
}

.big-button {
  width: 32px;
  height: 32px;
}

.MuiSlider-rail {
  height: 4px !important;
  border-radius: 2px !important;
}

.MuiSlider-root {
  width: initial !important;
  height: 4px !important;
  padding: 0 !important;
  color: $color-gray !important;
}

.MuiSlider-track {
  height: 4px !important;
  border-radius: 2px !important;
}
