{
  "extends": ["@atolye15/eslint-config"],
  "rules": {
    "import/extensions": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/label-has-associated-control": ["error", { "assert": "either" }]
  }
}
