$color-white-active: #fff;
$color-white-inactive: #b3b3b3;

.btn-container {
  position: relative;
  width: 216px;
  height: 40px;

  background: #040404;
  border-radius: 4px;
}

.active {
  background: #282828;
}

.text {
  position: absolute;
  top: calc(50% - 16px / 2);
  left: 56px;
  width: 37px;
  height: 16px;
  color: $color-white-inactive;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.text-active {
  color: $color-white-active;
  font-weight: 600;
}

.icon {
  position: absolute;
  top: calc(50% - 24px / 2);
  left: 16px;
  width: 24px;
  height: 24px;
  color: $color-white-inactive;
}

.icon-active {
  color: $color-white-active;
}
