@import '../../styles/color-palette';

.topbar {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  background: $color-black-3;
}

.nav-buttons {
  display: flex;
  width: 4em;
  justify-content: space-between;
}

.user-menu {
  align-self: center;
  margin-left: auto;
}
