@import '../../styles/color-palette';

.topbar {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  background: #090909;
}

.nav-buttons {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.user-menu {
  align-self: center;
}
