.topbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 232px;
  display: flex;
  height: 60px;
  background: #121212;
}

.user-menu {
  align-self: center;
  margin-right: 32px;
  margin-left: auto;
}
