/* stylelint-disable declaration-no-important */
/* stylelint-disable declaration-property-value-blacklist */

$color-white-active: #fff;
$color-white-inactive: #b3b3b3;
$color-gray: #535353;

.nowplaying-center-container {
  position: absolute;
  top: calc(50% - 90px / 2);
  right: 30.03%;
  left: 29.97%;
  height: 90px;

  background: #282828;
}

.nowplaying-center-inner-container {
  position: absolute;
  top: calc(50% - 60px / 2);
  right: 0.04%;
  left: 0%;
  height: 60px;
}

.nowplaying-center-controls {
  position: absolute;
  top: 0;
  left: calc(50% - 224px / 2 + 0.5px);
  width: 224px;
  height: 32px;
  color: $color-white-active;
  div {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 200ms linear;
  }
  div:hover {
    opacity: 1;
  }
}

.nowplaying-center-controls-shuffle {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.nowplaying-center-controls-previous {
  position: absolute;
  top: 0;
  left: 48px;
  width: 32px;
  height: 32px;
}

.nowplaying-center-controls-play-pause {
  position: absolute;
  top: 0;
  left: 96px;
  width: 32px;
  height: 32px;
}

.nowplaying-center-controls-next {
  position: absolute;
  top: 0;
  left: 144px;
  width: 32px;
  height: 32px;
}

.nowplaying-center-controls-repeat {
  position: absolute;
  top: 0;
  left: 192px;
  width: 32px;
  height: 32px;
}

.nowplaying-center-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  height: 16px;
}

.nowplaying-center-progress-current-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 16px;
}

.nowplaying-center-progress-total-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 16px;
}

.nowplaying-center-progress-text {
  position: absolute;
  top: 0;
  left: 9px;
  width: 22px;
  height: 16px;
  color: $color-white-inactive;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 16px;
}

.nowplaying-center-progressbar {
  position: absolute;
  top: 6px;
  right: 7.1%;
  left: 7.1%;
  height: 4px;
  background: #535353;
  border-radius: 2px;
}

.nowplaying-center-controlbox {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.nowplaying-center-controls-small-button {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16.22px;
  height: 16.22px;
}

.nowplaying-center-controls-big-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.MuiSlider-rail {
  height: 4px !important;
  border-radius: 2px !important;
}

.MuiSlider-root {
  position: absolute !important;
  top: 6px;
  right: 7.1%;
  left: 7.1%;
  width: initial !important;
  height: 4px !important;
  padding: 0 !important;
  color: $color-gray !important;
}

.MuiSlider-track {
  height: 4px !important;
  border-radius: 2px !important;
}
