$color-white-1: #fff;

$color-black-1: #000;
$color-black-2: #040404;
$color-black-3: #121212;
$color-black-4: #181818;
$color-black-5: #282828;

$color-gray-1: #757575;
$color-gray-2: #535353;
$color-gray-3: #b3b3b3;
$color-gray-4: #c3c3c3;
$color-gray-5: #9e9e9e;

$color-spotify-green: #1db954;
