.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.nav-content {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
}

.topbar-main {
  display: flex;
  max-width: 100vw;
  flex: 1;
  flex-direction: column;
}
