.logo-container {
  position: absolute;
  top: 24px;
  right: 0%;
  left: 0%;
  width: 232px;
  height: 63px;
  background-color: #040404;
}

.logo-img {
  position: absolute;
  top: 0;
  left: 24px;
  width: 131px;
  height: 40px;
}
