@import '../../styles/color-palette';

.main {
  position: relative;
  display: flex;
  overflow: auto;
  height: 0;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  background: $color-black-3;
  overflow-y: auto;
  row-gap: 32px;

  @media (max-width: 768px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -4px;
}
