.main {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 89px;
  left: 232px;
  background: #121212;
  overflow-y: scroll;
}

.main-padding {
  position: absolute;
  top: 16px;
  right: 32px;
  left: 32px;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(10, 1fr);
  background: #121212;
  row-gap: 32px;
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -4px;
}
