@import '../../styles/color-palette';

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border: 0;
  margin-top: 0;
  appearance: none;
  background-color: $color-white-1;
  background-image: none;
  border-color: $color-gray-4;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: rgb(24, 24, 24);
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.label {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 20px;
}
