$color-white-active: #fff;
$color-white-inactive: #b3b3b3;

.nowplaying-right-container {
  position: absolute;
  top: calc(50% - 90px / 2);
  right: 0.04%;
  left: 69.96%;
  height: 90px;
  background: #282828;
}

.nowplaying-right-volume-bar {
  position: absolute;
  top: calc(50% - 4px / 2);
  right: 0.4px;
  width: 84px;
  height: 4px;
  background: #535353;
  border-radius: 2px;
}

.nowplaying-right-volume {
  position: absolute;
  top: calc(50% - 32px / 2);
  right: 84.4px;
  width: 32px;
  height: 32px;
}

.nowplaying-right-devices {
  position: absolute;
  top: calc(50% - 32px / 2);
  right: 116.4px;
  width: 32px;
  height: 32px;
}

.nowplaying-right-playlist {
  position: absolute;
  top: calc(50% - 32px / 2);
  right: 148.4px;
  width: 32px;
  height: 32px;
}

.nowplaying-right-icon-devices {
  position: absolute;
  top: calc(50% - 16.22px / 2 + 0.11px);
  left: calc(50% - 22px / 2);
  width: 22px;
  height: 16.22px;
  color: $color-white-inactive;
  cursor: pointer;
  &:hover {
    color: $color-white-active;
  }
}

.nowplaying-right-icon {
  position: absolute;
  top: calc(50% - 16.22px / 2 + 1.11px);
  left: calc(50% - 16.22px / 2 + 1.11px);
  width: 16.22px;
  height: 16.22px;
  color: $color-white-inactive;
  cursor: pointer;
  &:hover {
    color: $color-white-active;
  }
}
