@import '../../styles/color-palette';

.searchbar {
  display: flex;
  overflow: hidden;
  width: 368px;
  height: 40px;
  align-items: center;
  background-color: $color-white-1;
  border-radius: 500px;

  svg {
    width: 24px;
    height: 24px;
    margin: 0 12px;
  }

  input {
    height: 40px;
    padding: 6px 48px 6px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.015em;
    line-height: 20px;
  }
}
