@import '../../styles/color-palette';

.nowplaying-right-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 0;
  background: $color-black-4;

  @media (max-width: 768px) {
    display: none;
  }
}

.volume-bar {
  width: 84px;
  height: 4px;
  background: $color-gray-2;
  border-radius: 2px;
}

.icon-container {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 16.22px;
  height: 16.22px;
  color: $color-gray-3;
  cursor: pointer;
  &:hover {
    color: $color-white-1;
  }
}

.slider-container {
  display: flex;
  align-items: center;
}
