.login-divider {
  position: absolute;
  top: 333px;
  display: block;
  width: 334px;
  box-sizing: border-box;
  border-top: 1px solid #d9dadc;
  margin: 15px 0;
  line-height: 1px;
  text-align: center;
}
