$color-white-active: #fff;
$color-white-inactive: #b3b3b3;

.playlist-list-item-container {
  position: relative;
  width: 232px;
  height: 32px;
  background: #040404;
  cursor: pointer;
  &:hover .playlist-list-item-text {
    color: $color-white-active;
  }
}

.playlist-list-item-inner-frame {
  position: absolute;
  top: calc(50% - 32px / 2);
  left: calc(50% - 168px / 2);
  width: 168px;
  height: 32px;
}

.playlist-list-item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 32px;
  color: $color-white-inactive;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 32px;
}
