$color-inactive: #b3b3b3;
$color-active: #fff;
.section {
  position: relative;
  height: 300px;
  background: #121212;
}

.section-titlebar {
  position: absolute;
  top: 0;
  right: 0%;
  left: 0%;
  height: 33px;
}

.section-title {
  position: absolute;
  top: 0;
  right: 7.87%;
  left: 0%;
  height: 33px;
}

.section-title-text {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  overflow: hidden;
  width: 178px;
  max-width: 100%;
  height: 28px;
  color: $color-active;
  font-family: 'Segoe UI';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section-titlebar-btn {
  position: absolute;
  top: 0;
  right: 0.14px;
  width: 89.86px;
  height: 33px;
  cursor: pointer;
  &:hover span {
    text-decoration: underline;
  }
}

.section-titlebar-btn-text {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 60px;
  height: 16px;
  color: $color-inactive;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.section-content {
  position: absolute;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  height: 300px - 49px;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
  grid-auto-rows: 0;
  background: #121212;
  column-gap: 16px;
  overflow-y: hidden;
}
