@import '../../styles/color-palette';

.topbar-overview-container {
  display: flex;
  max-width: 970px;
  height: 80px;
  padding: 0 15px;
  margin: 0 auto;
  background: $color-black-1;
}

.logo {
  width: 132px;
  height: 40px;
  align-self: center;
}

.nav {
  margin-left: auto;
}

.nav-button {
  height: 100%;
  padding: 28px 17px;
  background-color: transparent;
  color: $color-white-1;
  cursor: pointer;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  &:hover {
    color: $color-spotify-green;
  }
}
