.topbar-overview-container {
  max-width: 970px;
  height: 80px;
  margin: 0 auto;
  padding: 0 15px;
  background: #000;
  display: flex;
}

.topbar-overview-logo {
  width: 132px;
  height: 40px;
  align-self: center;
}
