$color-active: #fff;
$color-spotify: #1ed760;

.topbar-overview-container {
  display: flex;
  max-width: 970px;
  height: 80px;
  padding: 0 15px;
  margin: 0 auto;
  background: #000;
}

.topbar-overview-logo {
  width: 132px;
  height: 40px;
  align-self: center;
}

.topbar-overview-nav {
  margin-left: auto;
}

.topbar-overview-nav-button {
  padding: 28px 17px;
  background-color: transparent;
  color: $color-active;
  cursor: pointer;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  &:hover {
    color: $color-spotify;
  }
}
