@import '../../styles/color-palette';

.nav-back {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  cursor: pointer;

  &:hover .topbar-nav-icon {
    color: $color-white-1;
  }
}

.nav-forward {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  cursor: pointer;

  &:hover .nav-icon {
    color: $color-white-1;
  }
}

.nav-icon {
  width: 10.17px;
  height: 16.35px;
  color: $color-gray-3;
  transition: color 200ms linear;
}
