$color-active: #fff;
$color-inactive: #b3b3b3;

.nav-back {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  cursor: pointer;
  &:hover .topbar-nav-icon {
    color: $color-active;
  }
}

.nav-forward {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  cursor: pointer;
  &:hover .nav-icon {
    color: $color-active;
  }
}

.nav-icon {
  width: 10.17px;
  height: 16.35px;
  color: $color-inactive;
  transition: color 200ms linear;
}
