@import '../../styles/color-palette';

.view-playlist {
  position: relative;
  display: grid;
  grid-auto-rows: 1fr;
  flex: 1;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  background: $color-black-3;
  overflow-y: scroll;
  row-gap: 32px;
}
